
@using ElectionWeb.Models.ViewModels;
@model IEnumerable<UserView>

@{
	ViewData["Title"] = "Country";
	Layout = "~/Views/Shared/_LayoutStar.cshtml";
}



<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Users</h4>
				<p class="card-description">

					@*<a asp-action="Create">Create New</a>*@
				</p>
				<table class="table">
					<thead>
						<tr>
							<th>
								Email
							</th>
							
							<th>
								Role
							</th>
							@*
							<th>
								@Html.DisplayNameFor(model => model.Active)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Deleted)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.CreatedAt)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.UpdatedAt)
							</th>*@
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Email)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Role)
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
									@*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
									@*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


